<%= form_for @event do |f| %>
  <div class="form-group">
    <label>Event Name</label>
    <%= f.text_field :name, placeholder: "Name your event", class: "form-control" %>
  </div>
    <label>Event Type</label>
  <%= f.select :name, [["Birthday Party", "Birthday Party"], ["Meeting", "Meeting"], ["Music Event", "Music Event"]], id: "name", prompt: "Select event type", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Event Capacity</label>
    <%= f.select :capacity, [["10", 10], ["20", 20], ["30", 30], ["40", 40], ["50+", 50]], prompt: "Select number of people", class: "form-control" %>
    </div>
  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Say something about your event", class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.check_box :includes_food %> Food
  </div>
  <div class="form-group">
      <%= f.check_box :includes_drinks %> Drinks
  </div>
  <label>Categories</label>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
  <div class="form-group">
    <%= b.check_box(class: "check_box") %> <%= b.object.name %>
  </div>
  <% end %>
  <div class="form-group">
      <label>Event Price</label>
      <div class="input-group">
        <div class="input-group-addon">€</div>
        <%= f.number_field :price, placeholder: "eg. 100", class: "form-control" %>
      </div>
    </div>

  <label>Publish this place?</label>
  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>
  <div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
