<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Event Type: <%= @event.name %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Guest" %></p>


    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Activities -->
    <h4>Activities</h4>
    <ul class="activities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>

    <!-- Photos -->
    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
      <%= image_tag photo.image.thumbnail %>
      </div>
    </div>
    <% end %>

    </ul>
    <!-- Categories -->
    <h4>Categories</h4>
    <% @categories.each do |category| %>
    <span class="label label-success"><%= category.name %></span>
    <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
